.navtab {
  margin: 151px auto 30px;
  display: flex;
  justify-content: space-between;
}

.navtab__link {
  margin: 0 5px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  color: #FFF;
  background-color: #313131;
  width: 96px;
  height: 32px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 896px) {
  .navtab {
    margin-top: 314px;
  }
}

@media screen and (max-width: 600px) {
  .navtab {
    margin: 212px auto 17px;
  }

  .navtab__link {
    margin: 0 3px;
  }
}
