.card__section {
  width: 360px;
  position: relative;
}

.card__button {
  background-image: url('../../images/save3d.svg');
  width: 72px;
  height: 21px;
  top: 14px;
  right: 14px;
  position: absolute;
  background-repeat: no-repeat;
}

.card__button-liked {
  background-image: url('../../images/save3.svg');
  width: 21px;
  height: 21px;
}

.card__button-close {
  background-image: url('../../images/d3.svg');
  width: 21px;
  height: 21px;
}

.card__image {
  width: 360px;
  height: 201px;
  border-radius: 3%;
}

.card__info {
  width: 332px;
  margin: 14px auto 0;
  display: flex;
  justify-content: space-between;
}

.card__name {
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
}

.card__duration {
  width: 52px;
  height: 18px;
  border-radius: 3px;
  background-color: #2F2F2F;
  font-size: 0.68rem;
  font-weight: 400;
  line-height: 0.91;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #8B8B8B;
}

@media screen and (max-width: 896px) {
  .card__section {
    width: 339px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 600px) {
  .card__section {
    width: 300px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__info {
    width: 300px;
  }

  .card__name {
    font-size: 0.75rem;
  }
}
