.aboutproject__container_theme_colored {
  margin: 110px 0;
  padding-top: 0;
}

.aboutproject__element {
  max-width: 550px;
}

.aboutproject__element:first-of-type {
  margin-right: 30px;
}

.aboutproject__element_theme_colored {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutproject__element_theme_colored:first-of-type {
  width: 20%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.aboutproject__element_theme_colored:last-of-type {
  min-width: 80%;
}

.aboutproject__subtitle_theme_colored {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  line-height: 1.21;
  font-size: 0.87rem;
  margin: 0;
}

.aboutproject__subtitle_theme_green {
  color: #000000;
  background-color: #3DDC84;
}

.aboutproject__subtitle_theme_gray {
  background-color: #303030;
}

.aboutproject__text_theme_colored {
  font-size: 0.87rem;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: #8B8B8B;
  margin-top: 14px;
}

@media screen and (max-width: 896px) {
  .aboutproject__text {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media screen and (max-width: 600px) {

  .aboutproject__subtitle {
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.17;
  }

  .aboutproject__text {
    font-size: 0.68rem;
    font-weight: 400;
    line-height: 1.45;
  }

  .aboutproject__container {
    flex-direction: column;
  }

  .aboutproject__container_theme_colored {
    flex-direction: row;
    margin: 60px 0 69px;
  }

  .aboutproject__element_theme_colored:first-of-type {
    min-width: 35%;
  }
  .aboutproject__element_theme_colored:last-of-type {
    min-width: 65%;
  }

  .aboutproject__element:first-of-type {
    margin: 0 0 56px;
  }
}
