.search-form__button {
  background: url('../../images/find-3.svg');
  width: 44px;
  height: 44px;
  border: none;
  margin-left: 10px;
}

.search-form__input {
  width: 92.5%;
}

.search-form {
  max-width: 1140px;
  width: 89vw;
  margin: 0 auto;
  padding-top: 80px;
  border-bottom: 1px solid #424242;
}

.search-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
}

.filter-checkbox__text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 0 12px;
}

.search-form__checkbox {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 78px);
  min-width: 36px;
}

.search-form__label {
  background-image: url("../../images/smalltumboff.svg");
  width: 36px;
  height: 20px;
  background-repeat: no-repeat;
}

.search-form__checkbox:checked ~ .search-form__label {
  background-image: url("../../images/smalltumb.svg");
}

