.header {
  max-width: 1140px;
  width: 89vw;
  min-height: 74px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  margin: 0 50px 0 0;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: #FFF;
}

.header__button:last-of-type {
  margin-right: 0;
  width: 76px;
  height: 32px;
  font-weight: 400;
  color: #000;
  background-color: #3DDC84;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.header__menu-button {
  margin: 0 0 0 auto;
  background-image: url('../../images/icon__COLOR_icon-main.svg');
  width: 44px;
  height: 44px;
  visibility: hidden;
  position: absolute;
}

.header__movies {
  margin: 0 0 0 0;
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 1.12;
  text-decoration: none;
  color: #FFF;
  text-decoration: none;
}

.header__movies_underlined {
  font-weight: 400;
}

.header__movies:first-of-type {
  margin: 0 16px 0 62px;
}

.header__profile {
  margin: 0;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: #FFF;
  background-color: #313131;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header__profile:hover {
  background-color: #313131CC;
}


@media screen and (max-width: 896px) {
  .header__container_hidden {
    visibility: hidden;
    position: absolute;
    top: -999px;
  }

  .header__menu-button {
    visibility: visible;
    position: relative;
    cursor: pointer;
  }
}


